html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 208, 253, 0.902);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

/* Titulo do Chat */
header {
    position: relative;
    font-size: 8vh;
    border-radius: 10px;
    margin-left: 49vh;
    width: 51%;
    height: 15vh;
    margin-top: 2vh;
    padding: 13px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, rgb(214, 87, 243) 20%, rgb(224, 131, 243) 68%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
/* Fim Titulo do Chat */
}
.containerGeral{
    position: relative;
    border: 2px solid rgb(204, 129, 245);
    background-color: rgba(241, 240, 240, 0.607);
    border-radius: 30px;
    height: 650px;
    width: 400px;
    margin-left: 420px;
}
.contatos{
    position: relative;
    background-color: rgba(213, 117, 232, 0.769);
    height: 180px;
   
    /* margin-top: -5px; */
    border-radius: 30px;
    top: -20px;
}
/* div origem e destino */
#origem{
    position: relative;
    top: -40px
   

}
#destino{
    position: relative;
    top: -50px;
}

/* input de origem e de destino */
#destinoInput{
    position: relative;
    /* posição */
    margin-left: 120px;
    /* comprimento */
    width: 240px;
    /* largura */
    height: 20px;
    outline: none; 
}
#origemInput{
    position: relative;
    /* posição */
    margin-left: 120px;
    /* comprimento */
    width: 240px;
    /* largura */
    height: 20px;
    outline: none; 
}
/* fim de input origem e destino */

/* h3 de origem e de destino */
h3{
    position: relative;
    margin-left:30px;
    top: 45px;
    font-size: 20px;
}
/* Fim de h3 origem e destino */

.mensagens #containerJuliana{
    position: relative;
    margin-left: 320px;
    font-size: 18px;
}
/* area de digitar a mensagem */
.texto #mensagem{
    position: relative;
    border: 1px solid rgb(252, 239, 247);
    background-color: rgb(252, 239, 247);
    width: 260px;
    height: 100px;
    left: 20px;
    top: -68px;
    resize: none;
    /* fora da linha, tirando a borda preta */
    outline: none; 
}
/* fim de area de digitar a mensagem */

/* botão enviar mensagens */
#botaoEnviar .button {
    position: relative;
    width: 100px;
    height: 40px;
    margin-top: 330px;
    margin-left: 290px;
    font-size: 16px;
    color: rgb(0, 0, 0); 
    border: 1px solid rgba(219, 142, 249, 0.79);
    border-radius: 10px;
  }
#botaoEnviar .button:hover {
    background-color: rgba(185, 122, 237, 0.856);
    color: rgb(0, 0, 0);
  }
  /* Fim de botão enviar Mensagem */